* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.all {
    flex-grow: 1;
}
.header {
    background: #213B7E;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: calc(50% - 1268px / 2);
    padding-right: calc(50% - 1268px / 2);
    color: #FFFFFF;
}
.menu {
    display: flex;
    list-style-type: none;
    margin-left: 54px;
    color: #fff;
}
.menu__link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    padding: 28px 18px;
    display: block;
    color: #fff;
}
.menu__link_active {
    color: #213B7E;
    background-color: #fff;
    text-decoration: none;
}
.btn {
    width: 153px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EA5D21;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    text-decoration: none;
}
.block{
position: absolute;
margin-left: 150px;
width: 500px;
Height: 418px;
background: #FFFFFF;
border: 1px solid #213B7E;
box-sizing: border-box;

}
.visible{
 display: none;   
}
.entrance  {
margin-top: 16px;
margin-bottom: 364px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #000000;
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-content: center;
justify-content: center;
}
.userName{
box-sizing: border-box;
width: 444px;
height: 55px;
left: 498px;
top: 250px;
background: #FFFFFF;
border: 1px solid #808080;
}

.btn_new{
width: 153px;
height: 50px;
left: 644px;
top: 472px;
background: #EA6113;
}
.content {
position: relative;
padding-left: calc(50% - 991px / 2);
padding-right: calc(50% - 991px / 2);
}
.content__info {
    
    display: flex;
    justify-content: space-between;
}
.content__section {
    width: 634px;
}
.themselves{
color: red;
font-style: cursive;
}
.heading {
    position: relative;
    width: 129px;
    font-family: 'Lobster', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #646464;
}
.quotation-marks {
    font-size: 64px;
}
.quotation-marks_left {
    position: absolute;
    left: -33px;
    top: 7px;
}
.quotation-marks_right {
    position: absolute;
    top: 50px;
    right: -22px;
}
.footer {
    background: #213B7E;
    padding-top: 18px;
    padding-bottom: 19px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 32px;
}
.footer__text {
    color: rgba(255, 255, 255, 0.5);
}
/* students */
.content-students{
padding-left: calc(50% - 1202px / 2);
padding-right: calc(50% - 1202px/ 2);
}
.subtitle{
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    color: #000000;
    margin-top: 37px; 
}
.students{
    
    margin-top: 20px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.student{
width: 200px;
position: relative;
}
.student_new {
position: absolute;
top: -12px;
right: -13px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
background: #3AA828;
border-radius: 20px;
padding: 2px; 1px;   
}
.student_name{
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #000000;
text-align: center;
margin-top: 4px;
}
.FIND{
padding-left: calc(50% - 918px / 2);
padding-right: calc(50% - 918 px/ 2);
margin-top: 33px;
margin-bottom: 25px;
font-weight: 700;
font-size: 30px;
line-height: 35px;
align-items: center;
color: #000000;
}
.map{
padding-left: calc(50% - 1202px / 2);
padding-right: calc(50% - 1202px/ 2);
}
.contacts{
margin-top: 10px;
margin-bottom: 20px;
padding-left: calc(50% - 918px / 2);
padding-right: calc(50% - 918 px/ 2);  
font-weight: 400;
font-size: 25px;
line-height: 29px;
color: black
}
.adress{
padding-left: calc(50% - 918px / 2);
padding-right: calc(50% - 918 px/ 2);  
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #000000; 
}
.about{
margin-top: 33px;
padding-left: calc(50% - 1007px / 2);
padding-right: calc(50% - 1007 px/ 2);  
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
color: #000000;
}
.video_about{
margin-top:25px ;
margin: bottom 15px; ;
padding-left: calc(50% - 1007px / 2);
padding-right: calc(50% - 1007 px/ 2); 
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
color: #000000;

}
.video{
margin-top: 15px;  
padding-left: calc(50% - 1007px / 2);
padding-right: calc(50% - 1007 px/ 2); 
}
@media (max-widht: 1024px)
/*Стили для планшнта */
.header {
    padding-left: 32px;
    padding-right: 32px;
}
.menu{
    margin-left: 0px;
}
.menu_link{
    font-size: 20px;
    padding: 20px 14px;
}
.content {
    padding-left: calc(50% - 956px / 2);
    padding-right: calc(50% - 956px / 2);
}
.content_section {
    width:70%;
    }
    .content__info {
    align-items: center;}
    .content-students {
    padding-left: calc(50% - 736px / 2);
    padding-right: calc(50% - 736px/ 2);}

@media (max-widht: 767px)
/* Стили для мобилки */
.header {
padding-left: 16px;
padding-right: 16px;
}
.img { max-widht: 100%;
}
